.giphy-plugin-page {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
}

.backBtn {
    padding: 1em 2em;
    font-weight: 400;
}

.backBtn a {
    font-size: 14px;
}

.backBtn a:hover {
    color: black;
}


::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    width: 5px;
    background: rgba(229, 231, 235, 1);
}
::-webkit-scrollbar-track-piece{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: #DADADA;
    width: 5px;
    border-radius: 10px;
}