.giphy-headerr {
  display: flex;
  width: 100%;
  align-items: center;
}

.giphy-headerr .settingsgiphy,
.giphy-headerr .dpgiphy {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}

.giphy-headerr img.settingsgiphy {
  width: 20px;
  height: 20px;
  margin-top: 0.8rem;
}

.giphy-headerr img.dpgiphy {
  width: 35px;
  height: 35px;
}
