.gmail-container {
  display: grid;
  grid-template-columns: 1.2fr 4fr;
  column-gap: 1rem;
  padding: 2rem 1rem;
}

@media (max-width: 1000px) {
  .gmail-container {
    grid-template-columns: 1fr;
    padding: 2rem;
  }

  .gmail-container-l {
    display: block;
  }
  .gmail-logo {
    align-self: center;
  }
  .hidden-text-1 {
    display: block;
  }
  .hidden-text-2 {
    display: none;
  }
  .header-image {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .hidden-text-1 {
    text-align: center;
  }
  .nawa {
    font-size: 0.9rem;
  }
}
