@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

.container {
  display: grid;
  grid-template-columns: 2fr 4fr;
  padding: 1rem;
}

.container .btn {
  transition: 0.3s ease-in-out;
}

.container-left img {
  border-radius: 15px;
}
