.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #f6f6f6; */
}

.container .layer1 {
  width: 100%;
  height: 100%;
  height: 86px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container .layer1 .logoWrapper{
  width: 43.83px;
  height: 43.83px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 22px;
  margin-right: 8px;
}

.container .layer1 .logoWrapper img{
  width: 21.97px;
  height: 19.66px;
}

.container .layer1 .googleDriveWrapper{
  display: flex;
  align-items: center;
}

.container .layer1 .googleDriveWrapper h2{
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  font-style: normal;
  margin-right: 7.7px;
}

.container .layer1 .googleDriveWrapper img{
  width: 12.6px;
}

.container .layer2 {
  border: 1px solid #e7e7e7;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.container .layer2 .rightLayer2{
  width: 100%;
  display: flex;
}

.container .layer2 .leftLayer2{
  width: 100%;
  display: flex;
}

.container .layer2 .leftLayer2 button{
  border: 1px solid #0acf83;
  padding: 10px;
  border-radius: 5px;
  color: #0acf83;
}

.container .layer2 .leftLayer2 button:hover{
  background-color: #0acf83;
  color: #e7e7e7;
}

.container .layer2 h3 {
  height: 100%;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  margin: 14px 14px 0 14px;
  padding-bottom: 14px;
  cursor: pointer;
}

.container .layer2 h3:hover{
  color: #0acf83
}

.markGreen {
  border-bottom: #0acf83 1px solid;
}

.modal_background {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 16;
  top: 0;
  left: 0
}

.modal_wrapper {
  width: 50%;
  height: 60%;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #0d6efd;
  color: #000;
  position: absolute;
  z-index: 9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  top: 20%
}

.modal_content {
  display: flex;
  justify-content: center;
  line-height: 1.8;
  color: #141414;
}
  .modal_button {
    padding: 10px 24px;
    background: #141414;
    color: #fff;
    border: none;
  }

  .close_button {
    cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  z-index: 10;
  color: white
  }

  .name_style{
    font-size: 18px;
    color: white;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-top: 10%
  }

  .input_section {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    border: none;
    outline: transparent;
  }

  .submit_button {
    margin-top: 60px;
    padding: 5px;
    width: 20%;
    border-radius: 4px;
  }

  .close_icon {
    color: white;
    margin-left: 10%;;
    margin-top: 10px
  }

  @media screen and (min-width: 481px) and (max-width: 719px) { 
    .modal_wrapper {
      width: 50%;
      height: 60%;
      box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
      background: #0d6efd;
      color: #000;
      position: absolute;
      z-index: 9;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      top: 10%;
      left: 10%
    }
    
  .name_style{
    font-size: 14px;
    color: white;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-top: 20%;
    margin-left: 5%
  }

  .input_section {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid black;
    width: 80%;
    height: 100%;
    margin-top: 10%;
    border: none;
    outline: transparent;
    justify-content: center;
    display: flex;
    margin-left: 10%;
    margin-bottom: 20%;
  }

  .submit_button {
    padding: 5px;
    width: 20%;
    border-radius: 4px;
    justify-content: center;
    display: flex;
    margin: auto;
    
  }

    }