.container {
  height: 100%;
  padding-top: 6%;
}

.container .layer1 {
  width: 100%;
  height: 8.97%;
}

.container .layer2 {
  border: 1px solid #e7e7e7;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container .layer2 h3 {
  height: 100%;

  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  margin: 14px 14px 0 14px;
  padding-bottom: 14px;
  cursor: pointer;
}

.markGreen {
  border-bottom: #0acf83 1px solid;
}

.modal_background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_wrapper {
  width: 50%;
  height: 60%;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #0d6efd;
  color: #000;
  position: relative;
  z-index: 10;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.modal_content {
  display: flex;
  justify-content: center;
  line-height: 1.8;
  color: #141414;
}
  .modal_button {
    padding: 10px 24px;
    background: #141414;
    color: #fff;
    border: none;
  }

  .close_button {
    cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  z-index: 10;
  color: white
  }

  .name_style{
    font-size: 18px;
    color: white;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-top: 20%
  }
  
  .input_section {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid black;
    width: 80%;
    margin-top: 50px;
  }

  .submit_button {
    margin-top: 60px;
    padding: 5px;
    width: 20%;
  }

  .close_icon {
    color: white;
    margin-left: 10%;;
    margin-top: 10px
  }
  