* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.appsearchbarr {
  display: flex;
  position: relative;
  margin-top: 1rem;
  width: 85%;
}

.appsearchbarr input {
  position: relative;
  width: 100%;
  margin-left: 2rem;
  padding-left: 1rem;
  background: rgba(255, 255, 255, 0.4);
  border: 0.8px solid rgba(153, 153, 153, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  height: 35px;
  outline: none;
  font-size: 0.9rem;
}

.appsearchbarr input::placeholder {
  font-size: 0.7rem;
  position: absolute;
  top: 0.55rem;
}
.appsearchbarr img {
  position: absolute;
  right: 0.6rem;
  top: 0.35rem;
}

@media (max-width: 920px) {
  .appsearchbarr {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .appsearchbarr {
    width: 50%;
  }
}
