.authdiv1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.authsec1 {
    width: 35%;
    border-radius: 5px;
    padding: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.authsec2 {
    padding: 20px;
    border-radius: 5px;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.authimg {
    width: 70px;
    height: 70px;
    display: block;
    opacity: .4;
    margin-bottom: 70px;
}

h2 {
    font-weight: 900;
    margin-bottom: 20px;
    opacity: .4;
}

label {
    font-size: 80%;
    opacity: .4;
}

input {
    width: 80%;
    border-width: 1px;
    opacity: .4;
    font-size: 80%;
    border-style: solid;
    border-color: gray;
    padding: 0 5px;
    border-radius: 5px;
    height: 4vh;
}

.authsec3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 5px;
}

.authbtn1 {
    font-size: 80%;
    margin-top: 10px;
    width: 80%;
    background-color: #059669;
    opacity: 1;
    padding: 5px 0;
    color: white;
    border-radius: 5px;
}

@media only screen and (max-width:780px){
	.authsec1 {
        width: 85%;
    }
}