* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-side-section {
  width: 100%;
  padding: 0.5em 2em;
  color: black;
}

@media screen and (max-width: 991px) {
  .main-side-section {
    width: 100vw;
  }
}
