* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-side-section {
  width: 100%;
  min-height: 100vh;
  color: rgb(36, 35, 35);
}

@media screen and (max-width: 991px) {
  .main-side-section {
    width: 100%;
  }
}
