
.main-side-section {
  width: 100%;
  padding: 0.5em 2em;
  color: black;
  display: flex;
  flex-direction: column;
}

.main-side-section .top {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .main-side-section {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .main-side-section .top {
    flex-direction: column-reverse;
    align-items: center;
  }
}