
.search_box{
    width: 100%;
    background-color: #ffffff;
    border-radius: .3rem;
    box-shadow: .1rem .1rem .4rem rgba(0,0,0, .1);
    display: flex;
    align-items: center;
    padding: .5rem;
    margin: -2rem 0rem 1.5rem 0rem;
    border: .1rem solid rgba(153, 153, 153, 0.5);
}

.search_box .icon{
    flex: 0 0 5%;
    color: #999999;
    width: 1.5rem;
    height: 1.5rem;
}

.search_box .input{
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
}

.search_box .input::placeholder{
    color: #999999;
}












/* // #999999 */