
.tool_box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 19rem));
    grid-gap: 1.3rem;
    margin: 1rem 0rem;
    justify-content: space-between;
}

@media only screen and (max-width:39em){
  .tool_box{
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-content: center; 
  }
}

.tool_box .tool{
    background-color: #ffffff;
    padding: 1rem;
    border-radius: .3rem;
    box-shadow: .1rem .1rem .4rem rgba(0,0,0, .1);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all .3s;
}

.tool_box .tool:hover{
    transform: scale(1.01);
}

.tool_box .tool .icon_title_box{
    display: flex;
    align-items: center;
}

.tool_box .tool .icon_title_box .title_box{
    display: flex;
    flex-direction: column;
    margin-right: .5rem;
}



.tool_box .tool .icon_title_box .img_box{
   height: 3.5rem;
   width: 4.5rem;
   padding: .3rem;
   border: .05rem solid rgba(0,0,0, .1);
   border-radius: .2rem;
   margin-right: .8rem;  
}

.tool_box .tool .icon_title_box .img_box .img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
}

.tool_box .tool .icon_title_box .title_box .title{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #242424;
    margin-bottom: .3rem;
}

.tool_box .tool .icon_title_box .title_box .text{
    font-size: .75rem;
    color: #767676;
}

/* .tool_box .tool .btn{
    background-color: #F0EFEF;
    border-radius: .2rem;
    color: #3A3A3A;
    text-transform: capitalize;
    text-align: center;
    margin-top: .7rem;
    padding: .3rem;
} */

