@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');

* {
    font-family: 'Lato', sans-serif;

}

.banner-section {
    display: flex;
    margin-top: 20px;
    padding: 20px;

}

.banner-section .banner-image-container {
    display: flex;
    flex-direction: column;

}

.banner-section .banner-image-container img {
    width: 250px;
    border-radius: 8px;
}

.banner-section .banner-image-container button {
    padding: 5px 20px;
    background-color: #F0EFEF;
    border: 1px solid #cfcfcf;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 900;
}

.banner-section .description {
    width: 700px;
    padding: 0 40px;
}

.description .heading {
    font-size: 21px;
    font-weight: 600;
}

.description p {
    font-size: 15px;
    color: #3A3A3A;
}
