@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap");

* {
  font-family: "Lato", sans-serif;
}

.figma-msgs {
  @apply h-full py-5 md:py-5;
}

.figma-msgs_intro {
  @apply w-full;
  @apply flex flex-col md:flex-row gap-2 px-5 mb-4 md:mb-10;
}

.figma-msgs_intro-mobile {
  @apply flex flex-col md:hidden;
}
.figma-msgs_intro-mobile_header {
  @apply flex flex-row items-center gap-1;
  @apply text-xl font-bold;
}
.figma-msgs_intro-mobile_circle {
  @apply h-2 w-2;
  @apply rounded-full  border border-black;
  @apply flex items-center justify-center;
}
.figma-msgs_intro-mobile_txt {
  @apply text-base;
}
.figma-msgs_intro-desktop {
  @apply hidden md:flex flex-col lg:gap-1;
}
.figma-msgs_intro-desktop > * {
  @apply md:h-1/2 lg:h-auto flex items-start;
}
.figma-msgs_intro-desktop_header {
  @apply text-base font-semibold;
}
.figma-msgs_intro-desktop_txt {
  color: #999999;
  @apply flex flex-row gap-1;
  @apply text-lg font-medium;
}
.figma-msgs_intro-desktop_txt i,
.figma-msgs_intro-mobile_txt i {
  @apply not-italic cursor-pointer;
  color: #1d9bd1;
}

.figma-msgs_time {
  @apply relative;
  @apply w-full h-20;
  @apply flex items-center justify-center;
}
.figma-msgs_time_line {
  @apply absolute inset-x-0 inset-y-1/2;
  @apply flex;
  @apply h-px w-full;
  @apply bg-figma-lineBg;
}

.figma-msgs_time_day {
  @apply relative z-50;
  @apply py-2 px-8 md:px-32 md:py-3 lg:px-20 lg:py-2;
  @apply border border-figma-lineBg rounded-full;
  @apply bg-gray-200;
  @apply text-figma-dayText font-black text-base;
}

.figma-msgs_msg-container {
  @apply p-5;
  @apply flex flex-row flex-nowrap gap-2;
}

.figma-msgs_msg-container_logo {
  @apply flex-shrink-0;
}

.figma-msgs_msg-container_main {
  @apply flex flex-col flex-nowrap gap-4;
}

.figma-msgs_msg-container_main-header {
  @apply flex flex-col gap-2;
}
.figma-msgs_msg-container_main-header_stamp {
  @apply flex flex-row flex-nowrap items-center gap-1;
  @apply font-bold text-lg md:text-2xl;
}
.figma-msgs_msg-container_main-header_stamp-app {
  background: #a2a2a2;
  @apply text-white font-semibold text-xs;
}
.figma-msgs_msg-container_main-header_stamp-time {
  color: #a2a2a2;
  @apply font-medium text-xs;
}
.figma-msgs_msg-container_main-header_txt {
  @apply text-sm md:text-xl;
}
.figma-msgs_msg-container_hero {
  @apply flex flex-col gap-4;
}
.figma-msgs_msg-container_hero-size {
  color: #999999;
  @apply hidden md:flex flex-row gap-2 items-center;
  @apply md:text-xl;
}
.figma-msgs_msg-container_hero-arrow-down {
  @apply w-0 h-0 border-l-4 border-r-4 border-t-8;
  border-top-color: #1d9bd1;
}
.figma-msgs_msg-container_hero-img {
  @apply w-full md:w-4/5 lg:w-3/5 rounded-lg overflow-hidden;
}
.figma-msgs_msg-container_hero-desc {
  @apply flex flex-col gap-2;
  @apply text-sm md:text-base;
  @apply w-full md:w-4/5 lg:w-3/5;
}
.figma-msgs_msg-container_hero-desc li {
  @apply list-inside list-disc;
}
.figma-msgs_msg-container_connect {
  @apply font-black lg:text-base text-figma-connectGreen;
  @apply px-4 py-2 mt-5 md:mt-0;
  @apply w-max;
  @apply border border-figma-connectGreen rounded;
  @apply bg-white;
}
.figma-msgs_text-bar_container {
  @apply p-5;
}
.figma-msgs_text-bar {
  @apply flex flex-row md:flex-col gap-1;
  @apply p-3 shadow;
  @apply border border-figma-lineBg;
}
.figma-msgs_text-bar_tools {
  @apply hidden;
  @apply md:flex flex-row flex-nowrap gap-4 items-center;
}
.figma-msgs_text-bar_tools_tool-container {
  @apply flex flex-row gap-4 items-center;
}
.figma-msgs_text-bar_tools_tool-container_2 {
  @apply ml-auto;
  @apply border-r-2 flex-shrink-0 pr-3 border-figma-textIcons;
}
.figma-msgs_text-bar_tools_tool {
  @apply text-figma-textIcons;
  @apply cursor-pointer;
}
.figma-msgs_text-bar_tools_tool-lightning {
  @apply flex-shrink-0 pr-4 border-r-2 border-figma-textIcons;
}
.figma-msgs_text-bar_input {
  @apply w-full bg-transparent py-2 pr-2 outline-none;
}
.figma-msgs_text-bar_tools_mobile {
  @apply flex flex-row items-center gap-2 md:hidden;
}
