@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap");

* {
  font-family: "Lato", sans-serif;
}

.figma-msgs {
  @apply h-full lg:p-5;
}

.figma-msgs_intro {
  @apply lg:w-1/2;
}

.messages img {
  width: 67px;
  border-radius: 8px;
}

/* .welcome-info {
	padding-left: 10px;
} */
.welcome-info h4 {
  font-size: 15px;
  font-weight: 700;
}
.welcome-info p,
.download-size {
  color: #999999;
  font-size: 18px;
}

.welcome-info p span {
  color: #286bc4;
  cursor: pointer;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #cfcfcf;
  position: absolute;
  margin-top: 30px;
}

.divider-text {
  width: 230px;
  height: 40px;
  border-radius: 23px;
  background-color: #cfcfcf;
  position: absolute;
  top: 45%;
  left: 50%;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-tag {
  font-size: 25px;
  font-weight: 700;
}

.second-info {
  display: flex;
  margin: 33px;
  align-items: center;
}

.second-info p {
  margin-left: 10px;
}

.second-info img {
  width: 67px;
  border-radius: 8px;
}

.info-img-section {
  display: flex;
  flex-direction: column;
  padding-left: 105px;
  width: 75vw;
}

.info-img-section img {
  margin-top: 4px;
  width: 800px;
  border-radius: 7px;
}

.info-img-section p {
  margin-top: 15px;
}

ul {
  list-style-type: disc;
  margin-top: 10px;
}

.info-img-section h5 {
  position: relative;
}
.info-img-section h5::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-top: 5px solid#286bc4;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 10px;
  left: 65px;
}

/* Media Queries - Ipad and Desktop Screens */
@media (min-width: 721px) {
  .messages-welcome {
    max-width: 80%;
  }
}
/* Media Queries - Small Screens */
@media (max-width: 720px) {
  .messages-welcome {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
