@tailwind base;
@tailwind components;
@tailwind utilities;
/* font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif; */

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.headreact {
  font-family: "Oswald", sans-serif;
}