.wrapper{
    width: 100%;
    margin-top: 5px;
    top: 144px;
    font-size: 15px;
}
.child{
    display: flex;
    flex-direction: row;
    padding-top: 120px;
    
}
img {
    height: 66.74px;
    width: 69.74px;
    margin-left: 40px;
}
.info {
    margin-left: 23.91px;

}
.chat {
  margin-left: 133.91px;
}
textarea {
    border: 1px solid #999999;
    border-radius: 5px;
    width: 95%;
    margin-left: 20px;
    margin-top: 40px;
    text-indent: 25px;
}
