.all_box {
    width: 100%;
    margin: 1rem 0rem 2rem 0rem;
    display: flex;
    align-items: center;
    color: #3a3a3a;
    padding-bottom: 0.8rem;
    border-bottom: 0.13rem solid #dadada;
  }
  .all_box .title {
    flex: 0 0 10%;
    text-transform: capitalize;
  }
  
  .all_box .categories_box {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .all_box .categories_box .box {
    display: flex;
    align-items: center;
    @apply relative;
  }
  
  .all_box .categories_box .box:not(:first-child) {
    margin-left: 2.5rem;
  }
  
  .all_box .categories_box .box .icon {
    margin-left: 0.5rem;
  }
  
  .dropdown {
    background: #3a3a3a;
    @apply text-white;
    @apply rounded;
    @apply absolute top-full w-max z-50;
    @apply capitalize;
    @apply flex flex-col flex-nowrap;
  }
  .dropdownItem {
    @apply p-1;
    @apply hover:bg-figma-lineBg;
  }
  /* meida query for 38em */
  
  @media only screen and (max-width: 38em) {
    .all_box {
      flex-direction: column;
    }
    .all_box .title {
      align-self: flex-start;
    }
    .all_box .categories_box {
      flex: 0 0 100%;
      margin-top: 0.5rem;
      justify-content: space-between;
}

.all_box .categories_box .box .icon{
    margin-left: .5rem;
}


/* meida query for 38em */

@media only screen and (max-width: 38em){
    
    .all_box .categories_box{
        flex: 1;
        justify-content: space-between;
    }
  
    .all_box .categories_box .box {
      margin-left: 0rem;
    }
    .all_box .categories_box .box .icon {
      margin-left: 0.2rem;
    }
  }
}