.all_box{
    width: 100%;
    margin: 1rem 0rem 2rem 0rem;
    display: flex;
    align-items: center;
    color: #3A3A3A;
    padding-bottom: .8rem;
    border-bottom: .13rem solid #DADADA;
}

.all_box .title{
    flex: 0 0 10%;
    text-transform: capitalize;
}

.all_box .categories_box{
    flex: 1;
    display: flex;
    align-items: center;
}

.all_box .categories_box .box{
    display: flex;
    align-items: center;
}

.all_box .categories_box .box:not(:first-child){
    margin-left: 2.5rem;
}

.all_box .categories_box .box .icon{
    margin-left: .5rem;
}


/* meida query for 38em */

@media only screen and (max-width: 38em){
    
    .all_box .categories_box{
        flex: 1;
        justify-content: space-between;
    }

    .all_box .categories_box .box{
        margin-left: 0rem;  
    }
    .all_box .categories_box .box .icon{
    margin-left: .2rem;
}
}