.giphy-screenshots-section {
    width: 100%;
    padding: 0.5em 2em;
}
.screenshots-wrapper {
    margin-left: -10px;
}

.screenshots-wrapper img {
    width: 240px;
    margin: 10px;
}

@media screen and (max-width: 640px) {
    .screenshots-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .screenshots-wrapper img {
        width: 300px;
    }
}

@media screen and (max-width: 480px) {
    .screenshots-wrapper img {
        width: 100%;
    }
}