.appsearchbarr {
  display: flex;
  width: 100%;
}

.appsearchbarr input {
  position: relative;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  border: 0.8px solid rgba(153, 153, 153, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  height: 35px;
  outline: none;
  font-size: 0.9rem;
  padding: 0 1em;
}

.appsearchbarr input::placeholder {
  font-size: 0.7rem;
  padding: 0 1em;
}
.appsearchbarr img {
  margin-left: -2rem;
}

@media (max-width: 920px) {
  .appsearchbarr {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .appsearchbarr {
    width: 100%;
  }
}
