@tailwind base;
@tailwind components;
@tailwind utilities;
/* font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif; */

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.maincomp {
  background-color: gray;
}

/* .button {
  @apply px-4 py-2 border rounded-full cursor-pointer hover: shadow-lg transition transform duration-200 ease-in text-gray-700 text-3xl;
} */

/* .headreact {
  font-family: "Oswald", sans-serif;
} */